<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <ul class="bg-dark p-4">
      	<li><span class="text-muted"><a routerLink="/offer" routerLinkActive="active">My Offer</a></span></li>
		<li><span class="text-muted"><a routerLink="/terms-of-service" routerLinkActive="active">Terms of Service</a></span></li>		
		<li><span class="text-muted"><a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a></span></li>
    </ul>
  </div>
	<a href="/"><img class="pt-2 pl-2" src="https://wioffer.com/wiopg/custom/images/home.png"/></a> 
  <nav class="navbar navbar-dark bg-darki float-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
