<div class="container fixed-bottom mb-4">
	<h4 class="text-center mb-3 title">Share This Offer</h4>
	<div id="share-btn-container" class="mx-auto d-flex justify-content-around">
		<a class="btn btn-social-icon btn-twitter rounded">
  			<span class="fa fa-twitter"></span>
		</a>
		<a class="btn btn-social-icon btn-facebook rounded">
    	    <span class="fa fa-facebook"></span>
    	</a>
		<a class="btn btn-social-icon btn-dropbox rounded">
        	<span class="fa fa-envelope-o" style="line-height:48px;"></span>
    	</a>
	</div>
</div>
