<div id="offer-wrapper" class="pl-3 pr-3 row">
	<div id="offer-image-wrapper" class="mx-auto mb-4 text-center col col-sm-6">
		<img id="offer-image" src="http://via.placeholder.com/300x230"/>
	</div>
	<div class="container col col-sm-6">
		<div id="offer-text">
			<h5 class="text-center">{{"Mauris in dignissim odio" | uppercase | slice:0:45}}</h5>
			<p id="description-one">
				{{ "Mauris in dignissim odio, euismod volutpat elit. Nam egestas ullamcorper dolor vel aliquet. Ut ac felis ullamcorper, dapibus ipsum quis, luctus est." | slice:0:60 }}
			</p>
			<p id="description-two">
				{{ "Mauris in dignissim odio, euismod volutpat elit. Nam egestas ullamcorper dolor vel aliquet. Ut ac felis ullamcorper, dapibus ipsum quis, luctus est." | slice:0:30 }}
			</p>
			<div class="text-center date mb-3">Expires: 01/12/2018</div>
		</div>
		<div id="offer-action">

		</div>
		<app-share class="footer"></app-share>
	</div>
</div>
